
.banner {
  height: 90vh;
  background-color: #333;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
 
}

.banner .sliders {
  width: 100vw;
  height: 100%;
}

.banner .slide {
  width: 100%;
  height: 100%;
  transition: 1s;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .s1 {
  background-image: url("../../assests/banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.banner .s2 {
  background-image: url("../../assests/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .s3 {
  background-image: url("../../assests/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 93%;
  justify-content: center; /* Alterado para flex-end */
  align-items: flex-end; /* Alterado para flex-end */
  color: #fff;
  padding: 0 30px;

}

.banner .banner-title {
  
  padding: 10px;
  display: inline-block;
  text-align: right;
}

.banner .banner-title h2 {
  background-color: #121242;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 10px;
  border-right: 5px solid #fb670a ;
  
}

.banner .banner-title h1 span {
  color: #fb670a;
  font-weight: bold;

}

.banner .banner-title h1 {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;

}

@media screen and (max-width: 768px) {
  .banner .banner-title h1 span {
    color: #fff;
    font-weight: bold;
  
  }

  .banner .slidearea {
   align-items: center; 
   margin: 0 auto;
  }
  .banner .banner-title {
  text-align: center;
  }
  .banner .banner-title h1 {
    font-size: 30px;
  }
  .banner .banner-title .h2Mobile {
    font-size: 16px;
  }
  .banner .banner-title .h1Mobile {
    font-size: 20px;
  }
  .banner .banner-title h2 {
    font-size: 20px;
  }
}


.slide .s1{
  
}

.banner .sliders-pointers {
  width:100vw;
  height:20px;
  position:absolute;
  margin-top:-50px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.banner .pointer {
  width:15px;
  height:15px;
  border:2px solid #fb670a;
  border-radius:8px;
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;
}
.banner .pointer.active {
  background-color:#fb670a;
}




.banner .navegation-auto{
  width: 100vw;
  height: 20px;
 
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.banner .btn-auto {
  border: 2px solid #fb670a;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
 

  margin-left: 5px;
  margin-right: 5px;
}



#radio1:checked ~ .sliders-pointers .pointer{
  background: #fb670a;
}

#radio2:checked ~ .sliders-pointers .pointer{
  background:#fb670a;
}

#radio3:checked ~ .sliders-pointers .pointer{
  background: #fb670a;
}






input{
  display: none;
}


.navigation-manual{
  width: 100vw;
  height: 20px;
  display: none;
 
  position: absolute;
  margin-top: -50px;

}



.manual-btn{
  border: 2px solid #fb670a;
  padding: 5px;

}

.manual-btn:hover{
  background: #fb670a;

}


#radio1:checked ~ .s1{
  margin-left: 0;


}

#radio2:checked ~ .s1{
  margin-left: -100vw;
  
}




#radio3:checked ~ .s1{

  margin-left: -200vw;
}
  
/* ===================================SECTIONCARDSLIDER ======================================= */

.sectionCardSlider {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: 0;
 
}

.quadrado-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-top: -100px;

}

.quadrado {
  width: 300px;
  height: 180px;
  background: rgb(44,52,140);
background: linear-gradient(139deg, rgba(44,52,140,1) 0%, rgba(18,18,66,1) 50%, rgba(14,2,56,1) 100%);
  color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  margin: 10px;

  transition: transform 0.2s ease;
}

.icone {
  font-size: 40px;
  margin-bottom: 10px;
}

.quadrado-quinto {
  width: 58%;
  background-color: #e97305;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icone-quinto {
  font-size: 60px;
  margin-bottom: 10px;
}

.whatsapp-texto {
  font-size: 20px;
  margin-bottom: 10px;
}

.numero-grande {
  font-size: 30px;
  font-weight: bolder;
}

.quadrado:hover, .quadrado-quinto:hover {
  transform: translateY(-5px);
}
@media (max-width: 1024px) {
  .quadrado-container {
    flex-wrap: wrap; /* Permite que os quadrados sejam empilhados verticalmente */
    justify-content: center; /* Centraliza os quadrados na versão mobile */
    width: 100%; /* Define a largura máxima para se adaptar a telas menores */
  }

  
  .quadrado, .quadrado-quinto {
    width: calc(50% - 20px); /* Define a largura dos quadrados na versão mobile */
    margin: 10px; /* Adiciona espaçamento entre os quadrados empilhados */
  }
}

@media (max-width: 768px) {
  .quadrado-container {
   display: none;
  }

 
}








