/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.image img {
  width: 100%;
  height: auto;
}

/* Root / Variáveis */

:root {
  --header-height: 4.5rem;

  /* colors */
--hueServicos: 30;
  /* HSL color mode */
  --base-colorServicos: #fb670a;
 --base-colorServicos-second:#fb670a;
  --base-colorServicos-alt: hsl(var(--hueServicos) 57% 53%);
  --title-color: hsl(var(--hueServicos) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* Base */

main{
  margin-top: 10rem; 
  
  }

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

a.button {
  background-color: var(--base-colorServicos);
  color: var(--text-color-light);
  height: 3.5rem;
 
  display: inline-flex; 
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-colorServicos-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hueServicos), 36%, 57%, 1),
    hsla(var(--hueServicos), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hueServicos), 65%, 88%, 0.34),
    hsla(var(--hueServicos), 36%, 57%, 1)
  );
}

/* Layout */

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-colorServicos);
}


/* Home */

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-colorServicos-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* About */

#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-colorServicos-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .text h1 {
  margin-bottom: 1rem;
}

#about .text p {
  margin-bottom: 2rem;
}

/* Services */


.slick-slider {
  margin: 0 -10px; /* Espaçamento entre os cards */
}

/* Estilos para cada slide (card) no carrossel */
.slick-slide {
  padding: 0 10px; /* Espaçamento entre os cards */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o conteúdo do card */
.card {
  width: 100%; /* Largura igual para cada card */
  height: 450px; /* Altura igual para cada card */
  padding: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Estilos para as bolinhas (indicadores) do carrossel */
.slick-dots li button::before {
  font-size: 10px;
  color: #ccc; /* Cor das bolinhas inativas */
}

.slick-dots li.slick-active button::before {
  color: #333; /* Cor da bolinha ativa */
}



/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .slick-slide {
    padding: 0 5px; /* Espaçamento menor entre os cards em telas menores */
  }
}


.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-colorServicos);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-colorServicos);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* Testimonials */

#testimonials {
  background: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.25;
  left: -1.875rem;
  color: var(--base-colorServicos);
}

#testimonials cite {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-colorServicos);
}

/* Contact */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-colorServicos);
}

/* Footer */



/* Back to top */



/* Responsividade-Breakpoints */

/* Config p/ dispositivos maiores que 1200px */
@media (min-width: 1200px) {
  /* Classes globais */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

 
 

  /* Main */
  main {
    margin-top: var(--header-height);
  }

  /* Home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
    margin-left: 0;
    margin-right: 4rem;
  }

  #home .image img {
    right: 0;
  }

  /* Mudanças no header ao fazer scroll */

  #header.scroll {
    background: var(--base-colorServicos);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    transition: background 0.2s;
    border-bottom: none;
  }

  #header.scroll .logo span {
    color: white;
  }

  #header.scroll .icon-menu {
    color: white;
  }

  #header.scroll nav ul li a {
    color: white;
  }

  #header.scroll nav ul li a::after {
    background: white;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* Services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  /* Testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* Contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 23rem;
  }


}

/* Dispositivos maiores que 992px */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
