
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cardHome{
  margin-top: 10rem; margin-bottom: 10rem;
}


.cardrow{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com largura igual */
  gap: 10px; 
  margin-bottom: 50px;
}
.rowCard{
  display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto 0;
   align-items: center;

   
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;

}

.section-head h4 {
position: relative;
padding:0;
color:#FF6609;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background:#FF6609;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f;
padding-right: 10px;  /* separa o texto no tradutor */
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #FF6609;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}



.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
flex: 0 0 30%; /* Definir a largura desejada para cada card */
margin: 10px; /* Adicionar margens para espaçamento */


box-sizing: border-box;

}
.item:hover{
background:#FF6609;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h3, .item:hover {
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.bolinha1{
  background-color: #fff;
}

.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #FF6609;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.bolinha1 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FF6609;
  border-radius: 50%;
  margin-right: 10px;
}
.bolinha2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #121242;
  border-radius: 50%;
  margin-right: 10px;
}



.list{
  display: flex;
  align-items: center;

  
}

.item p{
font-size:15px;
line-height:26px;

}
.item h3 {
margin-bottom:20px;
color:#2f2f2f;
}






@media screen and (max-width: 768px) {
  .cardrow {
    grid-template-columns: 1fr;
  }
  .section-head p{ 
    width: 90%;
  align-items: center;
    margin: 0 auto;
  }
}