:root {
  --laranja: #ff7417;

}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-wrap: wrap;
}

.containerContact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px; 
  padding: 100px 50px;
}

.containerContact .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.containerContact .card:hover {
  height: 280px;
}

.containerContact .card .icon {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.containerContact .card:hover .icon {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.containerContact .card .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.containerContact .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.containerContact .card:hover .content {
  top: 130px;
  height: 250px;
}

.containerContact .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--laranja);
}

.containerContact .card .content span {
  color: #333;
}

.containerContact .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--laranja);
  color: white;
  font-weight: 500;
  transition: all 0.25s ease;
border-radius:5px;
}

.containerContact .card .content a:hover {
  opacity: 0.8;

}
@media (max-width: 480px) {
  .containerContact .card {
    width: 230px;
    border-radius: 15px;
  }

  .containerContact .card .icon {
    width: 185px;
    border-radius: 10px;
  }

  .containerContact .card .content p {
    font-size: 0.8rem;
  }

  .containerContact .card .content a {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .containerContact .card {
    width: 230px;
    border-radius: 15px;
  }

  .containerContact .card .icon {
    width: 185px;
    border-radius: 10px;
  }

  .containerContact .card .content p {
    font-size: 0.8rem;
  }

  .containerContact .card .content a {
    font-size: 0.9rem;
  }
}



/*==============================================================MAPA=============================================================*/ 
.section-map {

  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; /* Para centralizar o conteúdo */
}

.section-map--area {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 50vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-map--info {
  width: 70%;
  padding: 30px;
  background-color: var(--laranja);
  color: #ffffff;
  border-radius: 15px;
}

.section-map--info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-map--info-item {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.section-map--info-item-img {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
 
  border-radius: 50%; /* Transformando em um círculo */
  margin-right: 15px;
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */
/* Media queries para ajustar o layout em dispositivos móveis */
@media (max-width: 768px) {
  .section-map--area {
    height: 80vh;
  }

  .section-map--info {
    width: 90%;
    padding: 20px;
    font-size: 16px;
  }

  .section-map--info h2 {
    font-size: 20px;
  }
}

/* Telas pequenas (até 576px) */
@media (max-width: 320px) {
  .section-map--area {
    height: 60vh;
  }
.section-map--info-item-img {
  width: 36px; /* Reduzi o tamanho do ícone para melhorar a adaptação */
  height: 36px; /* Reduzi o tamanho do ícone para melhorar a adaptação */
 
 
}

  .section-map--info {
    font-size: 14px;
  }
}