

/* deixar as FAQS um ao lado do outro */

/* 
.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 15px; 
}

.faqs .faq {
  padding: 15px;
  background: #120052;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
} */


/* um abaixo do outro  */


.prEst{
  margin-top: 30px;
}


.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  
}

.faqs .faq {
 
  margin: 15px;
  padding: 15px;
  background: #120052;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  
} 

.faqs .faq .faq-question {
  position: relative;
  font-size: 10px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease;
  background: #FF6609;
  color: #fff;
  border-radius: 10px;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
 
}


.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
.ContainerProgramadeEstagio{
  margin-top: 10rem; margin-bottom: 10rem;

}


/* Estilos para o menu */
/* Estilos para o menu */
.containerFAQ {
  display: flex;
  justify-content: center;
  width: 80%; /* Reduzindo a largura do menu para 80% da tela */
  margin: 0 auto;

  margin-bottom: 20px;
}

.containerFAQ > div {
  margin: 10px;
  padding: 10px 15px;
 
 font-weight:bold ;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  flex: 1; /* Faz cada item do menu ocupar o mesmo espaço disponível */
  width: 90%; /* Define uma largura máxima para evitar que os itens fiquem muito largos */
  text-align: center; /* Centraliza o texto dentro de cada item */
}

/* Estilos básicos para o item do menu */
.faq-selected  {
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transição suave para o efeito de hover */
}

/* Estilos para o item do menu quando estiver selecionado */
.faq-selected {
  background-color: #FF6609;
  border-radius: 5px;
  color: #fff;
}

/* Estilos para o efeito de hover */
.faq-selected:hover {
  background-color: #FF6609;
  border-radius: 5px;
  color: #fff;
}



/* Estilos para os FAQs */
.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background: #121242;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.8s ease;
  background: #FF6609;
  color: #fff;
  border-radius: 10px;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
/* Estilos básicos para o item do menu */
.faq-selected {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transição suave para o efeito de hover */
}

/* Estilos para o item do menu quando estiver selecionado */
.faq-selected {
  background-color: #FF6609;
  border-radius: 5px;
  color: #fff;
}

/* Estilos para o efeito de hover */
.faq-selected:hover {
  background-color: #FF6609;
  border-radius: 5px;
  color: #fff;
}



/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .containerFAQ {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* Permite que os itens quebrem a linha quando não couberem na largura disponível */
  }

  .containerFAQ > div {
    flex-wrap: wrap;
    flex-direction: column; /* Cada item do menu ocupa 100% da largura disponível em telas menores */
  }
  .prEst p{
    width: 90%;
  }
 
  
}

@media screen and (max-width: 320px) {
  .containerFAQ {
    width: 100%; /* Ocupa a largura total da tela */
  }
  .prEst p{
    width: 90%;
  }

}
