/* SectionVaga.css */

.sectionVaga {
  position: relative;
 
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.sectionVaga .bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.sectionVaga .bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}
.sectionVaga > div{
  width: 80%;
}
.sectionVaga > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.sectionVaga > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #FF6609;
  background-image: linear-gradient(45deg, #FF6609, #c2410a);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.sectionVaga > div hr {
  display: block;
  background: #FF6609;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

.sectionVaga > div p {
  line-height: 1.6;
}

.sectionVaga a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.sectionVaga > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

.sectionVaga > div > a:hover {
  border: 0.125rem solid #FF6609;
  color: #FF6609;
}

.sectionVaga .slider-container {
  width: 100%;
  padding-top: 3.125rem;
}

.sectionVaga .swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.sectionVaga .swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.sectionVaga .swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sectionVaga .swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.sectionVaga .swiper-slide a:hover {
  color: #FF6609;
}

.sectionVaga .swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.sectionVaga .swiper-slide-active div {
  display: block;
  opacity: 1;
}
.sectionVaga .swiper-slide {
  width: 8.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sectionVaga .swiper-slide--one {
  background-image: url("./assetsvagas/vag1.png");
}

.sectionVaga .swiper-slide--two {
  background-image: url("./assetsvagas/vag2.png");
}

.sectionVaga .swiper-slide--three {
  background-image: url("./assetsvagas/vag3.png");
}

.sectionVaga .swiper-slide--four {
  background-image: url("./assetsvagas//vag4.png");
}

.sectionVaga .swiper-slide--five {
  background-image: url("./assetsvagas/vag1.png");
}

/* Adicione mais estilos para outros slides conforme necessário */

@media screen and (min-width: 768px) {
  .sectionVaga {
    display: flex;
    align-items: center;
  }
  .sectionVaga .bg,
  .sectionVaga .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 1500px) {
  .sectionVaga .slider-container {
    width: 85%;
  }
}

@media screen and (max-width: 320px) {

  
  /* Mobile-first styles */
  .sectionVaga {
    position: relative;
    width: 100%; 
    margin: 0;
    padding: 3rem 1rem; 
    column-gap: 0;
  }
  
  .sectionVaga > div {
    width: 100%; 
    text-align: center;
  }
  
  .sectionVaga > div h1 {
    font-size: 2rem;
  }
  
  .sectionVaga hr {
    margin: 1rem auto; 
  }
  
  .sectionVaga .slider-container {
    /* width: 100%; 
    padding-top: 2rem;  */
    display: none;
  }
  
/*  
  .sectionVaga .swiper-slide {
    width: 100%; 
    height: auto; 
    display: none; 
    text-align: center;
    background-size: cover; 
    background-position: center;
  } */
  
  .sectionVaga .swiper-slide h2 {
    font-size: 1.5rem; /* Reduce font size for mobile */
  }
  
  .sectionVaga .swiper-slide p {
    font-size: 1rem; /* Reduce font size for mobile */
    line-height: 1.5;
  }
  
  .sectionVaga .swiper-slide a {
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 1rem; /* Reduce font size for mobile */
  }
  
  /* Hide background images on mobile */
  .sectionVaga .bg,
  .sectionVaga .bg2 {
    display: none;
  }
}
