.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 15vh;
 

  max-width: 1300px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
 padding: 0 50px;
}

.logo {
  width: 200px;
}

.logoimg {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.info {
  display: flex;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

.info-title {
  font-size: 0.9rem;
  color: #888;
}

.info-details {
  font-size: 1.1rem;
  color: #333;
}
@media (max-width: 1024px) {
  .Header {
    font-size: 12px;
  }

}
/* CSS responsivo */
@media (max-width: 1000px) {
  .Header {
    display: none;
  }

  .menu {
    display: none;
  }
}