:root {
  --laranja: #ff7417;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: var(--laranja);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.containerNav {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}




.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px; /*  espaçamento entre os ícones e o texto */
  height: 80px;
  font-size: 2.3rem;
}

.social-icon {
   padding: 5px;/*  tamanho dos ícones de redes sociais */
   transition: all 0.25s ease;
  margin-right: 10px; /*  espaçamento entre os ícones */
  background:#ffffff ;
  border-radius: 50%; 
}
.social-icon:hover {
  transform: scale(1.5);
}

.logo-text {
  display: none; 
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;

}

.nav-item {
  /* height: 80px;  */    /* esta fazendo o menu subir */
  border-bottom: 2px solid transparent;

}


nav ul li a {
  transition: color 0.2s;
  position: relative;
  top: 0;
}


/* Linha em baixo do menu */
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.2s;
}



nav ul li a:hover::after,
nav ul li a.activated::after {
  width: 100%;
}

nav ul li a:hover,
nav ul li a.activated {
  color: #fff;
}


.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  margin-right: 10px;
}


.nav-links svg {
  vertical-align: middle;
}

.subDrop-link{

  cursor: pointer;
  padding: 1rem;
}
/* .subDrop-link:hover{

  color: #121242;
}  */




.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}
/* classe para ocultar o drop menu */
.dropdown-menu {
  display: none;
}

/* exibir o drop menu quando o item "Projetos" é clicado */
.nav-item:hover .dropdown-menu {
  display: block;
  
}

/* Outras regras de estilo para o drop menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  align-items: center;
  background: var(--laranja); /*  cor de fundo do menu principal */
  padding: 10px;
  list-style: none;
  /* width: 200px;      /*SE QUISER AUMENTAR A LARGURA DO DROPMENU =============================================================================== */
}

.dropdown-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  font-size: 14px;
}



/*  regra para ajustar a posição do drop menu */
.nav-item {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .social-icons {
    
    margin-right: 20px; /*  espaçamento entre os ícones e o texto */
    height: 45px;
    font-size: 2.3rem;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #19191a;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #ff7417;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 1024px) {
  

  /*  classe para ocultar o drop menu no modo responsivo */
  .dropdown-menu {
    display: none;
  }

  /*  regra para exibir o drop menu no modo responsivo quando o item "Projetos" é clicado */
  .nav-item.active .dropdown-menu {
    display: block;
  }

  /* Outras regras de estilo para o drop menu no modo responsivo */
  .dropdown-menu {
    position: static;
    background: var(--laranja); /* cor de fundo do menu principal */
    padding: 10px;
    list-style: none;
    width: 100%; /* Defir a largura completa do drop menu */
  }

  .dropdown-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
  }

  .dropdown-link:hover {
    background-color: #241178;
  }
}


/* Novos estilos para a responsividade */
@media screen and (max-width: 768px) {
  .logo-text {
    display: block; /* Mostra o texto "Dr.Estágio" na responsividade */
  }

  .social-icons {
    display: none; /* Esconde os ícones de redes sociais na responsividade */
  }
}


