.map-container {
  position: relative;
  max-width: 100%;
}

.map-title {
  font-weight: bold;
}

.city-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.info-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.rioGrandeDoNorte:hover,
.ceara:hover{
  fill:#121242;
  cursor:pointer
}
