

.sectionMapSVG{

  margin-top: 10rem; margin-bottom: 10rem;
  
}




.map-container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
 
}
.map-title {
  font-weight: bold;
}

.map-container svg {
  /* Estilos do seu SVG */
  flex: 1;
  max-width: 50%; /* Largura do SVG */
}

.info-panel {
 
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
 /* Largura do painel de informações */
  z-index: 1;
  
}


 .liSvg {
  margin-left: 190px;

}
.city-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 250px;
  max-height: 500px; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.image-panel {
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right:70px; /* Adjust this value to create space between image and list */
  width: 28%;
  z-index: 2; /* Increase the z-index value */
}

.image-panel img {
  width: 100%;
   height: auto;
  display: block;
}
.estado:hover
{
  fill:#0a5c0a;
  cursor:pointer;
  transition: 0.5s;

}
.rioGrandeDoNorte:hover,
.ceara:hover{
  fill:#121242;
  cursor:pointer;
  transition: 0.5s;
  
}
@media (max-width: 1024px) {
  .liSvg {
    margin-left: 20px;
  
  }
  
.image-panel {
  right:40px; /* Adjust this value to create space between image and list */
  
}
.city-list {

 
  max-height: 360px; /* Set the desired maximum height */

}
}
@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
    align-items: center;
  }
  .map-container svg {
    max-width: 90%; /* Aumentando o tamanho do SVG na versão mobile */
  }
  .liSvg {
    margin-left: 8px;
  
  }
  .info-panel,
  .image-panel {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
  
  .info-panel {
    background-color: transparent;
  }
  
  .image-panel {
    background-color: transparent;
  }
}



  