@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #FF6609;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}



a {
  color: inherit;
}

.article-section {
  text-align: center;
  margin-bottom: 30px;
 margin: 10rem 0 10rem 0;
}


.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(15em, 3fr)); */
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  /* max-width: 1000px; */
}

.cardArticle {
 
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)), rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color:white ;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  /* ponha o felx-direction no comentario para voltar o estilo de inicio */
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all var(--transition-time);
  
  position: relative;
  overflow: hidden;
  border: 5px solid #ccc;
  text-decoration: none;
}


.cardArticle:hover {

  transform: rotate(0);
  
}

.cardArticle h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  
}

.cardArticle p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.8em;
  line-height: 2em;
}

.cardArticle .tags {
  display: flex;
  margin-top: 0.8em;
  position: absolute;
  bottom: 30px;

  /* ponha o position e o bottom no comentario para voltar o estilo de inicio */
  
}

.cardArticle .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all var(--transition-time);
}

.cardArticle:hover .tags .tag {
  background: var(--color);
  color: white;
  
}

.cardArticle .date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em; 
  
}

.cardArticle:before, .cardArticle:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all var(--transition-time);
  transition-timing-function: ease-in-out;
 
}

.cardArticle:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.cardArticle:after {
  background: white;
  width: 200%;
  height: 200%;
}


.cardArticle:hover {
  color: var(--color);

}

.cardArticle:hover:before, .cardArticle:hover:after {
  transform: scale(1);
}

@media screen and (max-width: 1285px) {
  .cardArticles-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .cardArticle-grid-space .num {
    display: none;
  }
}

@media (max-width: 430px){
  .cards-wrapper {
padding: 0.3rem;
  }
}